body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #141d25, #070a0c);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ecf0f1;
}

.dropzone {
  border: 2px dashed #ffffff;
  padding: 50px;
  cursor: pointer;
  background-color: #1a252f;
  color: #ecf0f1;
  border-radius: 15px;
}

.dropzone:hover {
  background-color: #34495e;
}

button {
  background-color: #0f2e43;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

button:hover {
  background-color: #34495e;
}

.result img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.result a {
  background-color: #2980b9;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.result a:hover {
  background-color: #1f639b;
}
